This application is a proof of concept for generating mock data in CSV format. It was built using <a href="https://www.python.org/">Python</a>, <a href="https://flask.palletsprojects.com/en/2.3.x/">Flask</a>, <a href="https://getbootstrap.com/">Bootstrap</a>, and <a href="https://jquery.com/">jQuery</a>. Fake data is provided by the <a href="https://pypi.org/project/Faker/">Faker</a> library. It runs on <a href="https://cloud.google.com/appengine/">Google App Engine</a> and stores data in <a href="https://cloud.google.com/storage/">Google Cloud Storage</a>.<br><br>

Performance and quality of the data is not guaranteed. I hope this is useful for you.<br><br>

<b>Who is Winnie?</b><br>
My dog!<br><br>

<i>Special thanks to Andy S. who helped test this application.</i>